<!-- @author Alexander During -->
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    backupGlobals="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="batchjobs">
            <file>ServiceLocator/ServiceLocatorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>